@import url(variables.css);
@import url(sidebar.css);
@import url(contenedor.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
background-color: var(white);
color: #5f5f5f;
display: flex;
flex-direction: column;
}

a{
  text-decoration: none;
  color: var(--color-letra-iconos);
}

.contenedor{
  max-width: 1200px;
  width: 100%;
  padding: 10 15px;
  margin: auto;
}

.header {
  grid-area: header;
  width: 100%;
  background-color:  var(--fondo-header);
  padding: 0 10px;
  /* top: -20px; */
  z-index: 100;
  position: fixed; 
}  

.principal__contenedor{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.principal__left {
  display: flex;
  align-items: center;
  flex: 0 1 380px;
} 

.logo__img {
  width: 40px;
  margin-right: 25px;
  display: block;
}

.buscador {
  background-color: var(--color-buscador);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.buscador__icon {
  font-size: 1.2rem;
}

.buscador__input {
  width: 100%;
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}

.navegacion {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navegacion__lista {
  display: flex;
  align-items: center;
  list-style: none;
}

.navegacion__item {
  display: flex;
  align-items: center;
}

.navegacion__link {
  display: flex;
   position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 3px;
  font-weight: 400;
  min-height: 52px;
  min-width: 85px;
  transition: 1s;
}

.navegacion__link:hover {
  color: #222;
}

.navegacion__icon {
  font-size: 1.5rem;
}

.navegacion__span {
  font-size: 0.8rem;
}





.activo{
  width: 50px;
  height: 50px;
}

.verde{
  background-color: var(--burbuja-activo);
  position: absolute; 
  height: 8px;
  width: 8px;
  top: 2px;
  right: 13px;
  border-radius: 50%;
}

.perfil{
  position: relative;
  left: 20px;
  top: 6px;
}

.navegacion__perfil {
  width: 35px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.perfil-menu-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.perfil-menu-wrap.open-menu {
  max-height: 400px;
}

.perfil-menu {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

/* --------------------- */

.usuario-info {
  display: flex;
  align-items: center;
}

.usuario-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.usuario-info h3 {
  font-weight: 500;
  margin-bottom: -7px;
}

.usuario-info a {
  color: #c9dbf8;
  font-size: 13px;
}

.perfil-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 15px 0 10px;
}

.perfil-menu-link {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}

.perfil-menu-link p {
  width: 100%;
}

.perfil-menu-link img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}


